.scratchpad/
.idea/
build/
coverage/
dist/
lib/
logs/
node_modules/
*.key
*.log
*.log.*
*.secret
*.secret.*
tsconfig.build.json
*.tsbuildinfo
local.env.json
storybook-static/
screenshots/
mochawesome-report/
.DS_Store
.idea
