<h1 class="ui header">TecDoc Placeholder App</h1>
<div *ngIf="!isAuthenticated">
  <p>This app is intended as part of a PoC for a custom login experince using Okta.</p>
  <p>
   Optionally choose your prefered language and click login to redirect to the custom login app.
  </p>
  <a id="login-button" class="ui primary button" role="button" (click)="login()">Login</a>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}! You are signed in and the language is set to <b>{{ currentLanguage.languageIndex }}</b>.</p>
  <p>
   Click on Profile above to inspect token claims.
  </p>
</div>

<div id="dropDownMenu">
  <div id="dropDownContent" (click)="show()">
      <button id="dropDownBtn">{{currentLanguage.name}}</button>
      <img id="caretIcon" src="assets/caret-icon.png">
  </div>
  <div id="dropDownContainer" [style.display]="showDropDown">
      <div class="dropDownMenuBtns"  *ngFor="let lang of languages" (click)="changeCurrentLang(lang)">
          <button>{{ lang.name }}</button>
          <img src="assets/check-icon.png" *ngIf="lang.languageIndex === currentLanguage.languageIndex" id="checkIcon">
      </div> 
  </div>
</div>
