<h1 class="ui header">Custom Login Page with Sign In Widget for TecCom</h1>
<div *ngIf="!isAuthenticated">
  <p>If you‘re viewing this page then you have successfully started this demo application.</p>
  <p>
    Once you have logged in you will be redirected through your authorization server (the issuer defined in config) to create a session for Single-Sign-On (SSO).
    After this you will be redirected back to the application with an ID Token and Access Token. The tokens will be stored in local storage for future use.
  </p>
  <a id="login-button" class="ui primary button" role="button" (click)="login()">Login</a>
</div>

<div *ngIf="isAuthenticated && userName">
  <p>Welcome back, {{ userName }}! The index of the selected language is {{ selectedLang }}.</p>
  <p>
    You have successfully authenticated against your Okta org, and have been redirected back to this application.  You now have an ID Token and access token in local storage.
    Visit the <a href="/profile">My Profile</a> page to take a look inside the ID Token.
  </p>
</div>
